
@{
    ViewBag.Title = "Rentals";
}

<div class="jumbotron">
    <h2>Rentals</h2>
    <p>
        Click on the picture of the instrument you would like to rent.
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">            
            <a href="@Url.Action("RentInstrument", new { sName = "Trumpet" })"><img src="../../Content/images/Trumpet.jpg" , alt="Trumpet" /></a>
        </div>
        <div class="col-md-4">            
            <a href="@Url.Action("RentInstrument", new { sName = "Trombone" })"><img src="../../Content/images/Trombone.jpg" , alt="Trombone" /></a>
        </div>
        <div class="col-md-4">            
            <a href="@Url.Action("RentInstrument", new { sName = "Tuba" })"><img src="../../Content/images/Tuba.jpg" , alt="Tuba" /></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("RentInstrument", new { sName = "Clarinet" })"><img src="../../Content/images/Clarinet.jpg" , alt="Clarinet" /></a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("RentInstrument", new { sName = "Saxophone" })"><img src="../../Content/images/Saxophone.jpg" , alt="Saxophone" /></a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("RentInstrument", new { sName = "Flute" })"><img src="../../Content/images/Flute.jpg" , alt="Flute" /></a>
        </div>
    </div>
</div>